/*************************************
        Woocommerce Message
**************************************/
.woocommerce .woocommerce-message { background: #323232; color: #ffffff; line-height: 33px; border-top-color: #73bf06; padding-right: 18px !important; }
.woocommerce .woocommerce-message a { float: right; }
.woocommerce .woocommerce-message:before { color: #73bf06; }
.woocommerce .woocommerce-message .button { background: #db2d2e; color: #ffffff; -webkit-transition: all 0.2s ease-out 0s; -moz-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s; }
.woocommerce .woocommerce-message .button:hover { background: #db2d2e; color: #ffffff; padding: 8px 25px; }
.woocommerce .woocommerce-message .button:hover:before { content: normal; }

/*************************************
        Car item
**************************************/
.products-loop.products-list li { width: 100% !important; }
.products-list { position: relative; margin: 0; padding: 0; }
.products-list li { border: 1px solid #d9ddd3; margin-bottom: 30px; }
.products-list li .product .product-thumbnail:before { display: none; }
.products-list li .product .quick-view { display: none; }
.products-list .product:hover .product-thumbnail img { transform: inherit; }
.products-list li .product-thumbnail { width: 32%; float: left; }
.products-list li .product-info { width: 66%; float: left; border: none; text-align: left; margin-left: 2%; }
.products-list .hd-description { display: block; }
.list-product-meta .ajax-loading { display: none !important; }
.car-content a:hover, .list-product-meta .compare-button a:hover { color: #fff; border-color: #db2d2e; }
.list-product-meta .clear { display: none; }
.list-product-meta { display: inline-block; vertical-align: top; }
.list-product-meta a { width: 60px; height: 45px; background: #eceff7; line-height: 45px; text-align: center; border: 1px solid #dedddd; margin-right: 10px; float: left; font-size: 0; border-radius: 0; }
.list-product-meta a:before { content: "\f066"; display: inline-block; font-family: FontAwesome; position: relative; left: 0; top: 0; right: 0; line-height: 45px; font-size: 14px !important; }
.list-product-meta { display: none; }
.products-list .list-product-meta { display: block; }
.woocommerce ul.products + .woocommerce-pagination { margin-top: 30px; }
.woocommerce ul.products li.product h3 { padding: .5em 20px; }

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
    padding-bottom: 25px;
    border: 1px solid #e3e3e3;
    text-align: center;
    padding-bottom: 20px !important;
}
.woocommerce ul.products li.product.last,
.woocommerce-page ul.products li.product.last {margin-right: 0;}

.woocommerce ul.products li.car-item ul,
.woocommerce ul.products li.car-item .car-overlay-banner ul,
.woocommerce-page ul.products li.car-item .car-list ul {display: block;}

.woocommerce ul.products li.car-item .car-overlay-banner ul li { margin: 0 2px; }
.woocommerce ul.products li.car-item .car-overlay-banner ul li a { font-size: 0; line-height: 42px; }
.woocommerce ul.products li.car-item .car-overlay-banner ul li .fa { font-size: 14px; }
.woocommerce ul.products li.car-item .car-overlay-banner ul li .compare-button a:before { content: "\f066"; font-size: 14px; line-height: 20px; font-family: FontAwesome; top: 0; left: 0; }
.woocommerce ul.products li.product .star-rating { width: 64px; margin: 0 auto; margin-bottom: 5px; }
.woocommerce ul.products li.product .price del { display: inline-block; margin-right: 3px; }
.woocommerce ul.products li.product .price del span { font-size: 13px; }
.woocommerce ul.products li.product .price ins span { font-size: 16px; }

/***********************
 Shop Page - Columns 
************************/
.woocommerce ul.products.columns-1 li.product,
.woocommerce-page ul.products.columns-1 li.product {width: 100%; margin-right: 0;}

.woocommerce ul.products.columns-2 li.product,
.woocommerce-page ul.products.columns-2 li.product {width: 48%;}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {width: 30.8%;}

/**************************************
    Car List
***************************************/
.woocommerce ul.products-list li.product, 
.woocommerce-page ul.products-list li.product { background: #ffffff; padding: 20px;}
.woocommerce ul.products-list .car-item .car-content { text-align: left; background: none;}
.woocommerce ul.products-list li.product .star-rating { margin: 0; }

/*************************************
        Pagination Nav
**************************************/
.woocommerce nav.woocommerce-pagination ul.page-numbers { border: 0; }
.woocommerce nav.woocommerce-pagination ul li { border: 0; margin: 0 3px !important; border-right: none !important;}

.woocommerce nav.woocommerce-pagination ul li a,
.pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.pagination ul li span {
    font-size: 15px;
    font-weight: 500;
    margin: 0 2px;
    color: #626262;
    border-radius: 0px;
    padding: 0;
    border: 1px solid #e3e3e3;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
}
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li span:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover{color: #ffffff !important;}

.woocommerce nav.woocommerce-pagination ul li:first-child a,
.pagination ul li:first-child a,
.woocommerce nav.woocommerce-pagination ul li:first-child span,
.pagination ul li:first-child span {margin-left: 0;}

.pagination ul li:first-child a span,
.pagination ul li:last-child a span {display: none;}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.pagination ul li a:focus,
.pagination ul li a:hover,
.pagination ul li span.current {
    background-color: #db2d2e;
    border-color: #db2d2e;
    color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a.prev,
.pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.next,
.pagination ul li a.next {
    position: relative;
    font-size: 0;
    padding: 0;
}
.woocommerce nav.woocommerce-pagination ul li a.prev:before,
.pagination ul li a.prev:before {
    position: absolute;
    content: "\f100";
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 40px;
    top: 0;
    left: 0;
    right: 0;
}
.woocommerce nav.woocommerce-pagination ul li a.next:before,
.pagination ul li a.next:before {
    position: absolute;
    content: "\f101";
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 40px;
    top: 0;
    left: 0;
    right: 0;
}

/*************************************
              Sidebar
**************************************/
.sidebar-widget.widget .breadcrumbs > span { margin: 0 5px; }
.sidebar-widget.widget .breadcrumbs > span:first-child { margin-left: 0;}

/* Products */
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    float: left;
    height: 90px;
    margin-right: 10px;
    margin-left: 0px;
    width: 90px;
}
.sidebar-widget.woocommerce ul.product_list_widget li img {
    width: 50px;
    height: auto;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
    margin: 0 0 15px;
    padding: 0 0 15px;
}
.sidebar-widget.woocommerce ul.product_list_widget li .remove {
    top: 20px;
}
.sidebar-widget.woocommerce .widget_shopping_cart_content {
    border: 1px solid #dddddd;
    padding: 10px;
}
.widget.woocommerce ul.product_list_widget li {
    margin-bottom: 0;
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
}
.widget.woocommerce ul.product_list_widget li:last-child {
    border-bottom: none;
}
.widget.woocommerce ul.product_list_widget li a {
    color: #323232;
    font-weight: 600;
    margin-bottom: 0;
}
.widget.woocommerce ul.product_list_widget li a:hover {
    color: #db2d2e;
}
.widget.woocommerce ul.product_list_widget li .amount {
    font-size: 14px;
    font-weight: 600;
}
.widget.woocommerce ul.product_list_widget li ins {
    text-decoration: none;
}
.widget.woocommerce ul.product_list_widget li ins .amount {
    color: #db2d2e;
}
.sidebar-widget.woocommerce .total {
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
    color: #323232;
    margin-bottom: 15px;
}
.sidebar-widget.woocommerce .total .amount,
.sidebar-widget.woocommerce .buttons .checkout {
    float: right;
}

/* Listing */
.woocommerce .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span {
    padding: 0;
}
.widget.woocommerce ul li {
    padding: 10px 0 14px;
}
.widget.woocommerce ul li span {
    margin-bottom: 5px;
}
.widget.woocommerce .star-rating {
    margin-bottom: 3px;
}

/* Products search */
.widget.woocommerce .woocommerce-product-search {
    position: relative;
}
.widget.woocommerce .screen-reader-text {
    display: none;
}
.widget.woocommerce input.search-field {
    padding-right: 73px;
    padding-left: 12px;
    color: #323232;
    height: 45px;
    border: 1px solid transparent;
    background: #f6f6f6;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 100%;
}
.widget.woocommerce input.search-field:focus {
    background: transparent;
    border-color: #db2d2e;
}
.widget.woocommerce input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: #db2d2e;
    height: 100%;
    padding: 0 10px;
    color: #ffffff;
}

/* Rating */
.widget.woocommerce.widget_rating_filter ul li { text-align: right; }
.widget.woocommerce.widget_rating_filter ul li a { display: block; padding: 0px; }
.widget.woocommerce.widget_rating_filter ul li .star-rating { float: left; margin-top: 7px; }
.widget.woocommerce del { margin-right: 5px; }
.widget.woocommerce ins .amount { color: #363636; font-size: 16px; }

/* Tags*/
.tagcloud a { display: inline-block; color: #999999; border: 1px solid #e3e3e3; background: transparent; padding: 5px 10px; margin-bottom: 5px; font-size: 14px; text-transform: capitalize; }
.tagcloud a:hover { background: #db2d2e; color: #ffffff; border-color: #db2d2e; }

/*************************************
          Car item
**************************************/
.product {
    position: relative;
    overflow: hidden;
}
.product .car-content {
    background: #ffffff;
    padding: 20px;
}
.product .car-content a {
    font-size: 16px;
    font-weight: 600;
    color: #db2d2e;
    margin-bottom: 10px;
    display: block;
}
.product .car-content a:hover {
    color: #363636;
}
.product .price span {
    color: #363636;
    font-weight: 700;
    font-size: 16px;
}
.product .price span.old-price {
    color: #999999;
    text-decoration: line-through;
    padding-right: 5px;
    font-size: 13px;
    font-weight: 400;
}
.product .separator {
    margin-bottom: 15px;
}
.product .separator:after {
    width: 50px;
    display: block;
    margin: auto;
    content: "";
    height: 1px;
    background: #000000;
    bottom: 0px;
    left: 50%;
    transition: width .8s ease, background-color .8s ease;
    -webkit-transition: width .8s ease, background-color .8s ease;
    -o-transition: width .8s ease, background-color .8s ease;
    -ms-transition: width .8s ease, background-color .8s ease;
    -moz-transition: width .8s ease, background-color .8s ease;
}
.product .separator:before {
    content: '';
    display: block;
    margin: auto;
    left: 50%;
    height: 1px;
    width: 30px;
    bottom: -10px;
    background: #000000;
    transition: width .8s ease, background-color .8s ease;
    -webkit-transition: width .8s ease, background-color .8s ease;
    -o-transition: width .8s ease, background-color .8s ease;
    -ms-transition: width .8s ease, background-color .8s ease;
    -moz-transition: width .8s ease, background-color .8s ease;
    margin-bottom: 4px;
}
.product:hover .separator:before {
    width: 50px;
    left: 0;
    background: #db2d2e;
}
.product:hover .separator:after {
    width: 30px;
    left: 0;
    background: #db2d2e;
}
.product .car-list {
    background: #ffffff;
    color: #363636;
    overflow: hidden;
    bottom: 144px;
    height: 0;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 2;
    text-align: center;
}
.product .car-list li {
    line-height: 38px;
    color: #999999;
}
.product .car-list li i {
    padding-right: 3px;
}
.product:hover .car-list {
    height: 40px;
    border-bottom: 1px solid #f6f6f6;
}
.product .car-image {
    position: relative;
    overflow: hidden;
}
.product .car-overlay-banner {
    background: rgba(219, 45, 46, 0.7);
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
.product .car-overlay-banner ul {
    left: 0;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 99;
}
.product .car-overlay-banner ul li {
    display: inline-block;
}
.product .car-overlay-banner ul li a {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}
.product .car-overlay-banner ul li a:hover {
    background: #ffffff;
    color: #db2d2e;
}
.product:hover .car-overlay-banner {
    opacity: 1;
    top: 0;
}
.product.gray-bg .car-content {
    background: #f6f6f6;
}

/*************************************
   Header Top - Cart icon
**************************************/
.topbar_item_type-woo_cart {
    position: relative;
    z-index: 99999;
}
.topbar_item_type-woo_cart .cart .fa {
    font-size: 16px;
}
.topbar_item_type-woo_cart .shop .fa-angle-down {
    display: none;
}
.topbar_item_type-woo_cart .shop .badge {
    background: #db2d2e;
    color: #ffffff;
}
.topbar_item_type-woo_cart .drop-content {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    width: 280px;
    color: #000000;
}
.topbar_item_type-woo_cart .drop-content > div {
    padding: 0 15px;
    background: #ffffff;
    margin-top: 15px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.topbar_item_type-woo_cart .topbar-login:hover .drop-content {
    display: block;
}
#header .topbar_item_type-woo_cart .drop-content .title,
#header .topbar_item_type-woo_cart .drop-content .title a {
    color: #323232;
    font-size: 14px;
    font-weight: 500;
}
#header .topbar_item_type-woo_cart .drop-content .close-button {
    color: #323232;
}
.topbar_item_type-woo_cart .drop-content .checkout a {
    margin-bottom: 0;
    background: #db2d2e;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 22px;
    padding: 8px 15px;
    border-radius: 0;
}
.topbar_item_type-woo_cart .drop-content .checkout a.white {
    background: #323232;
    float: right;
    border: none;
    color: #555555;
    margin-bottom: 0;
}
.topbar_item_type-woo_cart .drop-content .checkout a:hover {
    color: #ffffff;
}
.topbar_item_type-woo_cart .drop-content .basket-item {
    padding: 10px 0;
    text-align: left;
}
.topbar_item_type-woo_cart .drop-content .basket-item:last-child {
    border-bottom: none;
}
.topbar_item_type-woo_cart .drop-content .basket-item .row > [class*='col-'] + [class*='col-'] {
    padding-left: 0;
}
.topbar_item_type-woo_cart .drop-content .basket-item .close-button {
    color: #db2d2e;
    position: absolute;
    right: 15px;
    top: 12px;
}
.topbar_item_type-woo_cart .drop-content .price {
    color: #db2d2e;
}
.topbar_item_type-woo_cart .drop-content .price-total {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 15px;
}
.topbar_item_type-woo_cart .drop-content .price-total .price-total-w {
    float: right;
}
.topbar_item_type-woo_cart .drop-content span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.topbar_item_type-woo_cart .drop-content span.woocommerce-Price-amount {
    font-weight: 500;
    margin-right: 5px;
}

/**************/
/* Cart */
/**************/
.mega-menu li.menu-item-type-cart .widget_shopping_cart_content {
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.mega-menu li.menu-item-type-cart:hover .widget_shopping_cart_content {
    opacity: 1;
    visibility: visible;
    position: absolute;
    overflow-y: auto;
    max-height: 500px;
    z-index: 1000;
    background: #ffffff;
    right: 0;
    top: 100%;
    width: 270px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.mega-menu .widget_shopping_cart_content {
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    right: 0;
    top: 100%;
    width: 270px;
    padding: 10px 15px;
    border-top: 5px solid #db2d2e;
}
.mega-menu .widget_shopping_cart_content .woocommerce-mini-cart__empty-message{margin: 5px 0;}
.mega-menu .widget_shopping_cart_content ul {
    box-shadow: none;
    top: inherit;
    left: inherit;
    position: relative;
}
.mega-menu .widget_shopping_cart_content ul a.remove {
    text-align: center;
    position: absolute;
    right: 0px;
    top: 20px;
    height: auto !important;
}
.mega-menu .widget_shopping_cart_content ul.product_list_widget {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mega-menu .widget_shopping_cart_content ul.cart_list li,
.mega-menu .widget_shopping_cart_content ul.product_list_widget li {
    padding: 4px 0;
    margin: 0;
    list-style: none;
}
.mega-menu .widget_shopping_cart_content ul.cart_list li a,
.mega-menu .widget_shopping_cart_content ul.product_list_widget li a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #323232;
    line-height: 22px;
}
.mega-menu .widget_shopping_cart_content ul.cart_list li .remove {
    font-size: 20px;
}
.mega-menu .widget_shopping_cart_content ul.cart_list li .quantity {
    font-size: 13px;
    color: #323232;
}
.mega-menu .widget_shopping_cart_content ul.cart_list li,
.mega-menu .widget_shopping_cart_content ul.product_list_widget li {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.mega-menu .widget_shopping_cart_content ul.product_list_widget li.empty {
    color: #323232;
    padding: 0;
    font-size: 14px;
}
.mega-menu .widget_shopping_cart_content ul.cart_list li img,
.mega-menu .widget_shopping_cart_content ul.product_list_widget li img {
    float: left;
    margin-right: 10px;
    width: 52px;
    height: auto;
    box-shadow: none;
}
.mega-menu #respond input#submit,
.mega-menu a.button,
.mega-menu button.button,
.mega-menu input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    font-size: 14px;
    padding: 12px 18px;
    font-weight: normal;
    border-radius: 0px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-transform: uppercase;
}
.mega-menu a.button.wc-forward,
.mega-menu a.button.wc-forward:hover {
    background: #db2d2e;
    color: #ffffff;
}
.mega-menu a.button.checkout.wc-forward  {
    background: #323232;
    color: #ffffff;
    float: right;
}
.mega-menu a.button.checkout.wc-forward:before:hover {
    background: #db2d2e;
     
}
.mega-menu #mega-menu-primary p {
    margin-bottom: 0;
}
.mega-menu .cart-contents {
    position: relative;
}
.mega-menu .cart-contents .woo-cart-details.count {
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    position: absolute;
    top: 50%;
    right: -12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 0 5px;
    margin-top: -20px;
    margin-right: 0px;
    color: #ffffff;
    background: #db2d2e;
    border-radius: 50%;
}
.mega-menu .widget_shopping_cart_content .total {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: 15px;
    color: #323232;
    padding: 10px 0;
    text-align: left;
    margin-bottom: 15px;
}
.mega-menu .widget_shopping_cart_content .total .amount {
    float: right;
    font-weight: 700;
}
/* Compare icon on Top Menu */

.mega-menu .menu-item-compare > a {
    position: relative;
}

/****************************************************
   Woocommerce Theme Setting
*****************************************************/
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
    top: 10px;
    right: 10px;
    left: auto;
    margin: 0;
    border-radius: 3px;
    min-height: inherit;
    line-height: 24px;
    background-color: #10bf9c;
    padding: 2px 13px;
    text-transform: uppercase;
}
.woocommerce span.onsale {
    right: auto;
    left: 10px;
}
.woocommerce ul.products li.product .add_to_cart_button,
.woocommerce div.product form.cart .single_add_to_cart_button,
.woocommerce .woocommerce-message .button,
.woocommerce-cart .cart_totals .checkout-button.alt,
.related.products .owl-carousel .owl-item .item .button {
    background: #db2d2e;
    color: #ffffff;
    border-radius: 0;
    font-weight: 500;
    padding: 8px 20px;
    line-height: 20px;
}
.woocommerce ul.products li.product .add_to_cart_button:hover,
.woocommerce div.product form.cart .single_add_to_cart_button:hover,
.woocommerce .woocommerce-message .button:hover,
.woocommerce-cart .cart_totals .checkout-button.alt:hover,
.related.products .owl-carousel .owl-item .item .button:hover {
    color: #ffffff;
}
.woocommerce footer .button,
.woocommerce .return-to-shop a.button,
.woocommerce .widget_shopping_cart_content .button,
.woocommerce .sidebar .button {
    background: #db2d2e;
    color: #ffffff;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 18px;
    line-height: 20px;
}
.woocommerce footer .button:hover,
.woocommerce .return-to-shop a.button:hover,
.woocommerce .widget_shopping_cart_content .button:hover,
.woocommerce .sidebar .button:hover {
    background: #db2d2e;
    color: #ffffff;
}
.woocommerce .products .add_to_cart_button.loading,
.woocommerce .products .ajax_add_to_cart.loading {
    padding-right: 40px !important;
}

/****************************
  Details Page 
/****************************/
.woocommerce div.product form.cart,
.woocommerce div.product p.cart {margin: 20px 0;}

.woocommerce ul.products li.product .added_to_cart{vertical-align: top; padding: 7px; margin-top: 10px;}
.woocommerce div.product form.cart div.quantity { margin-right: 0; }
.woocommerce div.product form.cart div.quantity .qty { height: 50px; width: 70px; margin-right: 10px; font-size: 18px; }
.woocommerce div.product form.cart .single_add_to_cart_button { padding: 15px 25px; float: none; }
.woocommerce .star-rating span:before { color: #db2d2e; }
.woocommerce .product_cat-clothing p.price { margin-bottom: 20px; border-bottom: 1px solid #dddddd; padding-bottom: 15px; }
.woocommerce .product_cat-clothing p.price ins, .woocommerce .product_cat-clothing span.price ins { text-decoration: none; }
.woocommerce .product_cat-clothing p.price span { font-size: 24px; color: #db2d2e; }
.woocommerce .product_cat-clothing p.price del span { font-size: 20px; color: #353535; margin-right: 5px; }
.single-product .shipping-taxable .entry-summary .price { border-bottom: 1px solid #ddd; padding-bottom: 15px; margin-bottom: 25px; }
.single-product .shipping-taxable .entry-summary .price ins { text-decoration: none; margin-left: 5px; }
.single-product .shipping-taxable .entry-summary .price ins .amount, .single-product .shipping-taxable .entry-summary .price ins .amount span { font-size: 26px; color: #db2d2e; }

/* Tabs */
.woocommerce div.product .woocommerce-tabs { border: none; margin-top: 20px; margin-bottom: 30px; }
.woocommerce div.product .woocommerce-tabs ul.tabs { padding: 0; margin: 0; }
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:after {content: normal !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #db2d2e;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover { background-color: #323232; }
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a { color: #ffffff; }
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before { content: normal; }
.woocommerce div.product .woocommerce-tabs ul.tabs li a { background: #323232; color: #ffffff; padding: 12px 15px; font-weight: 500; text-transform: uppercase; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { background: #db2d2e; color: #ffffff; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:hover { background-color: #ffffff; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:hover a { background: #db2d2e; color: #ffffff; }
.woocommerce div.product .woocommerce-tabs .wc-tab { margin: 0; padding: 30px; border: 1px solid #dddddd; }
.woocommerce div.product .woocommerce-tabs .wc-tab h2 { font-size: 22px; line-height: 30px; padding-bottom: 10px; margin: 10px 0px 30px; font-weight: 500; position: relative; }
.woocommerce div.product .woocommerce-tabs .wc-tab h2:before { content: ""; position: absolute; left: 0; bottom: 0; width: 50px; height: 3px; background: #db2d2e; }
.woocommerce div.product .woocommerce-tabs .wc-tab .comment-reply-title { display: block; text-transform: uppercase; font-size: 22px; line-height: 30px; font-weight: 600; }
.woocommerce div.product .woocommerce-tabs .wc-tab table.shop_attributes th { width: 220px; }
.woocommerce div.product .woocommerce-tabs .wc-tab table.shop_attributes th, .woocommerce div.product .woocommerce-tabs .wc-tab table.shop_attributes td { padding: 10px 20px; }

/* Reviews */
.woocommerce #reviews #comments ol.commentlist li img.avatar { width: 70px; }
.woocommerce #reviews #comments ol.commentlist li .comment-text { margin-left: 90px; border-radius: 0; padding: 15px; }
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta { font-size: 16px; }

/* Reviews Reply Form */
.woocommerce #review_form #respond { margin-top: 30px; }
.woocommerce #review_form .comment-reply-title { font-size: 22px; line-height: 30px; font-weight: 500; position: relative; padding-bottom: 10px; margin-bottom: 20px; }
.woocommerce #review_form .comment-reply-title:before { content: ""; position: absolute; left: 0; bottom: 0; width: 50px; height: 3px; background: #db2d2e; }
.woocommerce #review_form #respond .comment-notes { margin-bottom: 20px; }
.woocommerce .comment-form-rating p.stars a { color: #db2d2e; }
.woocommerce .comment-form label { display: block; font-weight: 600; }
.woocommerce .comment-form .comment-form-rating .nice-select{display: none;}

.woocommerce .comment-form input[type="text"],
.woocommerce .comment-form input[type="email"],
.woocommerce .comment-form textarea { background: #f6f6f6; width: 100%; border: 1px solid transparent; padding: 12px 15px; color: #626262; }
.woocommerce #reviews #comment { height: 100px; }
.woocommerce #respond input#submit { width: 100%; background: #db2d2e; color: #ffffff; border: none; padding: 12px 15px; font-weight: 500; border-radius: 0; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.woocommerce #respond input#submit:hover { background: #323232; color: #ffffff; }

.woocommerce .comment-form input[type="text"]:focus,
.woocommerce .comment-form input[type="email"]:focus,
.woocommerce .comment-form textarea:focus {
    border-color: #db2d2e;
}

/****************************
  Cart Page 
/****************************/
.woocommerce-cart table.shop_table.cart .button,
.woocommerce-checkout .woocommerce form.login .button,
.woocommerce-checkout .woocommerce form.checkout_coupon .button {
    background: #db2d2e;
    color: #ffffff;
    border: none;
    padding: 12px 15px;
    font-weight: 500;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.woocommerce-cart table.shop_table.cart .button:hover,
.woocommerce-checkout .woocommerce form.login .button:hover,
.woocommerce-checkout .woocommerce form.checkout_coupon .button:hover { background: #323232; color: #ffffff; }
.woocommerce-cart table.shop_table.cart .coupon + .button { background: #323232; color: #ffffff; }
.woocommerce-cart table.shop_table.cart .coupon + .button:hover { background: #db2d2e; color: #ffffff; }
.woocommerce-cart .with-sidebar { padding: 0; }
.woocommerce-cart table.shop_table { border-radius: 0; margin-bottom: 50px; }

.woocommerce-cart table.shop_table th,
.woocommerce table.shop_table td { border: none; }
.woocommerce-cart table.shop_table.cart th { background: #323232; color: #ffffff; padding: 15px; }
.woocommerce-cart table.shop_table.cart tbody { border: 1px solid #dddddd; }
.woocommerce-cart table.shop_table.cart tr.cart_item { background: #ffffff; border: none; }
.woocommerce-cart table.shop_table.cart tr.cart_item td { padding: 20px 15px; }
.woocommerce-cart table.shop_table.cart tr:nth-child(odd) { background: #ffffff; }
.woocommerce-cart table.shop_table.cart tr:nth-child(even) { background: #f9f9f9; }
.woocommerce-cart table.shop_table.cart td.product-remove { width: 40px; padding-right: 0; }
.woocommerce-cart table.shop_table.cart td.product-remove .remove { color: #db2d2e !important; }
.woocommerce-cart table.shop_table.cart td.product-remove .remove:hover { background: #db2d2e; color: #ffffff !important; }
.woocommerce-cart table.shop_table.cart td.product-thumbnail img { width: 90px; margin: 0; }
.woocommerce-cart table.shop_table.cart td.product-quantity .qty { width: 70px; height: 40px; border: 1px solid #dddddd; color: #353535; }
.woocommerce-cart table.shop_table.cart td.product-price .amount { color: #444444; }
.woocommerce-cart table.shop_table.cart td.product-subtotal .amount { color: #353535; font-weight: 600; font-size: 16px; }
.woocommerce-cart table.shop_table.cart td.actions { padding: 20px 15px; background: #f1f1f1; border-top: 1px solid #dddddd; }
.woocommerce-cart table.shop_table.cart td.actions #coupon_code { width: 200px !important; height: 38px; padding: 10px 15px; }

/* Cart Total */
.woocommerce .cart-collaterals h2 { font-size: 24px; line-height: 32px; margin-bottom: 20px; }
.woocommerce .cart-collaterals .cross-sells .products .car-item { border: 1px solid #dddddd; }
.woocommerce .cart-collaterals .cart_totals h2 { text-align: right; }

.woocommerce .cart-collaterals .cart_totals th,
.woocommerce .cart-collaterals .cart_totals td { padding: 15px 20px; border: none; text-align: right; }
.woocommerce .cart-collaterals .cart_totals .shop_table { margin-bottom: 0; }
.woocommerce-cart .cart_totals .checkout-button.alt { padding: 18px 20px; margin-bottom: 0; }
.woocommerce-cart .cart_totals .checkout-button.alt:hover { background: #db2d2e; }

.woocommerce .cart-collaterals .cart_totals .order-total th,
.woocommerce .cart-collaterals .cart_totals .order-total td {background: #f5f5f5;}
.woocommerce .cart-collaterals .cart_totals .order-total .amount {font-size: 22px; color: #db2d2e;}

/* Shop Details Single Variation Setting */ 
.woocommerce .summary .variations_form .variations .label{color: #323232 !important;}
.woocommerce .summary .variations_form .variations .value{padding: 0;}
.woocommerce .summary .variations_form .variations .value .reset_variations{margin:0; position: relative; left: 15px; top: 7px;}

.woocommerce .summary .variations_form .single_variation_wrap .single_variation{display: table-cell; min-width: 120px;}
.woocommerce .summary .variations_form .single_variation_wrap .variations_button{display: table-cell;}
.woocommerce .summary .variations_form .single_variation_wrap .single_variation .price{border-bottom: none;}


/****************************
  Checkout Page 
/****************************/
.woocommerce-checkout .with-sidebar,
.woocommerce-account .with-sidebar {
    padding: 0;
}
.woocommerce-checkout .woocommerce form.login,
.woocommerce-checkout .woocommerce form.checkout_coupon {
    border-radius: 0;
    margin-top: 0;
}
.woocommerce-checkout .woocommerce form.login label.inline {
    margin-left: 15px;
    margin-top: 7px;
    display: inline-block;
    vertical-align: top;
}
.woocommerce-checkout form.woocommerce-checkout {
    margin-top: 30px;
}
.woocommerce .woocommerce-info {
    background: #323232;
    color: #ffffff;
    line-height: 33px;
    border-top-color: #db2d2e;
    padding-right: 18px !important;
    margin-bottom: 15px !important;
}
.woocommerce .woocommerce-info:before {
    color: #db2d2e;
}
.woocommerce .woocommerce-info a {
    float: right;
}
.woocommerce .woocommerce-info a:focus {
    color: #ffffff;
}
.woocommerce .woocommerce-info .button {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background: #db2d2e;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 12px 22px;
    position: relative;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
.woocommerce .woocommerce-info .button:hover {
    background: #db2d2e;
    color: #ffffff;
    padding: 12px 30px;
}
.woocommerce .woocommerce-info .button:hover:before {
    content: normal;
}
.woocommerce .woocommerce-error {
    background: #323232;
    color: #ffffff;
    line-height: 33px;
    border-top-color: #db2d2e;
    padding-right: 18px !important;
}
.woocommerce .woocommerce-error li a {
    float: right;
}
.woocommerce .woocommerce-error:before {
    color: #db2d2e;
}
.woocommerce .woocommerce-error li {
    padding: 3px 0;
}
.woocommerce .woocommerce-error li strong {
    color: #db2d2e;
    margin-right: 5px;
}
.woocommerce .woocommerce-error li ul {
    padding: 0;
    margin: 0;
}
.woocommerce .woocommerce-checkout .form-row input.input-text,
.woocommerce-checkout .woocommerce form.login .input-text,
.woocommerce-checkout .woocommerce form.checkout_coupon .input-text {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    color: #323232;
}
.woocommerce .woocommerce-checkout .form-row textarea {
    height: 100px;
    padding: 12px;
    border: 1px solid #dddddd;
}
.woocommerce .woocommerce-checkout .form-row .country_select > a,
.woocommerce .woocommerce-checkout .form-row .state_select > a {
    height: 40px;
    line-height: 40px;
    border-radius: 0;
}
.woocommerce .woocommerce-checkout .form-row.woocommerce-invalid input {
    background: rgba(248, 89, 89, 0.1);
    border: 1px solid rgba(248, 89, 89, 0.5) !important;
    color: #db2d2e;
}
.woocommerce #customer_details {
    margin-bottom: 50px;
}
.woocommerce-order-received .woocommerce h2,
.woocommerce .woocommerce-checkout h3 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 10px;
    margin: 10px 0px 30px;
    font-weight: 500;
    position: relative;
}
.woocommerce-order-received .woocommerce h2:before,
.woocommerce .woocommerce-checkout h3:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #db2d2e;
}
.woocommerce table.order_details,
.woocommerce .woocommerce-checkout-review-order table.shop_table {
    border: none;
    border-radius: 0
}
.woocommerce .order_details th,
.woocommerce .order_details td,
.woocommerce .woocommerce-checkout-review-order table th,
.woocommerce .woocommerce-checkout-review-order table td {
    border: none;
}
.woocommerce .order_details thead th,
.woocommerce .woocommerce-checkout-review-order table thead th {
    background: #323232;
    color: #ffffff;
    padding: 15px 20px;
    text-align: right;
}
.woocommerce .order_details tbody td,
.woocommerce .order_details tfoot th,
.woocommerce .order_details tfoot td,
.woocommerce .woocommerce-checkout-review-order table tbody td,
.woocommerce .woocommerce-checkout-review-order table tfoot th,
.woocommerce .woocommerce-checkout-review-order table tfoot td {
    padding: 15px 20px;
    border-left: 1px solid #dddddd;
    text-align: right;
    border-bottom: 1px solid #dddddd;
}
.woocommerce .order_details tbody td.product-total,
.woocommerce .woocommerce-checkout-review-order table tbody td.product-total {
    border-right: 1px solid #dddddd;
}
.woocommerce .order_details tfoot th,
.woocommerce .order_details tfoot td,
.woocommerce .woocommerce-checkout-review-order table tfoot th,
.woocommerce .woocommerce-checkout-review-order table tfoot td {
    border-bottom: 1px solid #dddddd;
    border-top: none;
    background: #f8f8f8;
    text-align: right;
}
.woocommerce .order_details tfoot td,
.woocommerce .woocommerce-checkout-review-order table tfoot td{border-right: 1px solid #dddddd;}

.woocommerce table.order_details tfoot tr th,
.woocommerce table.order_details tfoot tr td,
.woocommerce .woocommerce-checkout-review-order table tfoot .cart-subtotal th,
.woocommerce .woocommerce-checkout-review-order table tfoot .order-total th {color: #323232; font-size: 16px;}

.woocommerce table.order_details tfoot .cart-subtotal .amount,
.woocommerce .woocommerce-checkout-review-order table tfoot .cart-subtotal .amount{color: #323232; font-size: 18px;}

.woocommerce table.order_details tfoot tr .amount,
.woocommerce .woocommerce-checkout-review-order table tfoot .order-total .amount{color: #db2d2e; font-size: 22px;}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #323232;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 0;
}
.woocommerce .woocommerce-checkout-review-order .woocommerce-checkout-payment label {color: #ffffff;}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none;
}
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background: #ffffff;
    border-radius: 0;
}
#add_payment_method #payment div.payment_box:before,
.woocommerce-cart #payment div.payment_box:before,
.woocommerce-checkout #payment div.payment_box:before {
    border: 1em solid #ffffff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    margin-left: 15px;
}
#add_payment_method #payment div.form-row #place_order,
.woocommerce-cart #payment div.form-row #place_order,
.woocommerce-checkout #payment div.form-row #place_order { background: #db2d2e; font-size: 16px; padding: 20px 30px; border-radius: 0; }

.woocommerce .woocommerce-billing-fields .form-row-wide .nice-select{width: 100%;}

/* Proced Cehckout Page */
.woocommerce .woocommerce-thankyou-order-received { background: rgba(221, 249, 201, 0.96); color: #6bab3c; padding: 15px 20px; text-align: center; border: 1px solid rgba(200, 241, 171, 0.8); font-size: 16px; }
.woocommerce .woocommerce-thankyou-order-details { border: 1px solid #ddd; padding: 15px 25px; margin-bottom: 30px; }

.woocommerce table.order_details tfoot tr th,
.woocommerce table.order_details tfoot tr td { border-top: none; }
.woocommerce .woocommerce-account-fields .input-checkbox { position: relative; }
.select2-container .select2-selection--single { height: 40px; border-radius: 0; border-color: #dddddd; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 40px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { width: 30px; height: 40px; }

.woocommerce .place-order .wc-terms-and-conditions .woocommerce-form__label{position: relative; padding-left: 25px;}
.woocommerce .place-order .wc-terms-and-conditions .input-checkbox{position: absolute; left: 0; top: 10px;}

/****************************
  Account Page 
/****************************/
.woocommerce-account .woocommerce .login { background: #ffffff; border: 1px solid #dddddd; border-radius: 0; padding: 25px; }
.woocommerce-account .woocommerce .login .form-row { padding: 0; margin: 0; margin-bottom: 25px; }
.woocommerce-account .login .form-row .inline { margin-left: 15px; }
.woocommerce-account .woocommerce form .input-text { background: #f6f6f6; border: 1px solid transparent; margin-bottom: 0 !important; -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; width: 100%; padding: 12px 18px; color: #626262; }
.woocommerce-account .woocommerce form .input-text:focus { background: transparent; border-color: #db2d2e; }
.woocommerce-account form .button { font-size: 15px; font-weight: 500; text-align: center; background: #db2d2e; color: #ffffff; display: inline-block; text-transform: capitalize; vertical-align: middle; padding: 12px 25px; position: relative; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; border-radius: 0; }
.woocommerce-account form .button:hover { background: #323232; color: #ffffff; }

/* Account All Page */
.woocommerce-MyAccount-navigation ul { padding-left: 0; }
.woocommerce-MyAccount-navigation ul li { list-style-type: none; border: 1px solid #eceeef; border-bottom: none; }
.woocommerce-MyAccount-navigation ul li:last-child { border-bottom: 1px solid #eceeef; }
.woocommerce-MyAccount-navigation ul li a { color: #363636; padding: 13px 18px; display: block; border-left: 3px solid transparent; }

.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-MyAccount-navigation ul li.is-active a { color: #db2d2e; border-color: #db2d2e; }
.woocommerce-MyAccount-navigation ul li a:before { display: inline-block; font-family: FontAwesome; content: "\f0f6"; float: left; margin-right: 15px; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before { content: "\f0e4"; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before { content: "\f291"; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before { content: "\f1c6"; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before { content: "\f015"; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before { content: "\f09d"; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before { content: "\f007" }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before { content: "\f08b"; }
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before { content: "\f021"; }
.woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address { border: 1px solid #eceeef; padding: 20px; }
.woocommerce-account .addresses .title h3 { float: left; font-size: 20px; line-height: 26px; }

.woocommerce-account .addresses .title .edit,
.woocommerce-account ul.digital-downloads li .count { float: right; }
.woocommerce-MyAccount-content thead th { background: #323232; color: #ffffff; border: none; }

.woocommerce-MyAccount-content table.my_account_orders td,
.woocommerce-MyAccount-content table.my_account_orders th { padding: 10px; font-size: 14px; }
.woocommerce-MyAccount-content table.my_account_orders td .button { background: #db2d2e; color: #ffffff; font-size: 14px; font-weight: 400; border-radius: 0; border: none; }

.woocommerce div.product .woocommerce-tabs,
.woocommerce .up-sells.products {margin-bottom: 35px;}

.woocommerce .up-sells.products h2,
.woocommerce .related.products h2 { margin-bottom: 15px; font-size: 20px; font-weight: 600; }
.woocommerce .related.products .owl-item .product h2 { margin-bottom: 15px; font-size: 14px; font-weight: 500; }

/****************************
  YOU MAY ALSO LIKE
/****************************/
.up-sells.products .products li.car-item { margin: 0; border: 1px solid #e3e3e3; margin-right: 30px; }

/****************************
  RELATED PRODUCTS
/****************************/
.woocommerce.single-product .product { overflow: visible; }
.related.products .owl-carousel .owl-item .item .wp-post-image { width: 100%; }
.related.products .owl-carousel .owl-item .item .product-info { padding: 25px 0; padding-top: 10px; border: 1px solid #e3e3e3; }
.related.products .owl-carousel .owl-item .item h3 { padding: .5em 20px; margin: 0; font-size: 1em; }
.related.products .owl-carousel .owl-item .item .star-rating { width: 64px; margin: 0 auto; margin-bottom: 5px; }
.related.products .owl-carousel .owl-item .item .price { display: block; margin: .6em 0; }
.related.products .owl-carousel .owl-item .item .price del span { font-size: 13px; }
.menu-logo .mobile-searchform-wrapper, 
.menu-logo .mobile-cart-wrapper { display: none; }

/********************************************************
  Responsive CSS
/********************************************************/
@media screen and (max-width: 992px) and (min-width: 768px) {
    /* Shop Page - Columns *******/
    
    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: 30.8%;
        margin-right: 3.8%;
        clear: none;
        float: left !important;
    }
    .woocommerce ul.products.columns-4 li.product:nth-child(3n+3),
    .woocommerce-page ul.products.columns-4 li.product:nth-child(3n+3) {
        margin-right: 0;
    }
    
    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product {width: 30.8%; float: left !important; margin: 0 3.8% 2.992em 0; clear: none;}
    .woocommerce-page ul.products.columns-3 li.product:nth-child(3n){margin-right: 0px;}

    .woocommerce-page ul.products.columns-4 li.product:nth-child(3n + 4),
    .woocommerce-page ul.products.columns-3 li.product:nth-child(3n + 4){clear: both;}
}
@media screen and (max-width: 767px) {
    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product,
    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: 48%;
        margin-right: 3.8%;
    }
    .woocommerce ul.products.columns-3 li.product:nth-child(2n+2),
    .woocommerce-page ul.products.columns-3 li.product:nth-child(2n+2),
    .woocommerce ul.products.columns-4 li.product:nth-child(2n+2),
    .woocommerce-page ul.products.columns-4 li.product:nth-child(2n+2) {
        margin-right: 0;
    }
    .woocommerce-cart table.shop_table.cart tr.cart_item td { padding: 10px 15px; }
}
@media screen and (max-width: 499px) {
    .woocommerce ul.products.columns-1 li.product,
    .woocommerce-page ul.products.columns-1 li.product,
    .woocommerce ul.products.columns-2 li.product,
    .woocommerce-page ul.products.columns-2 li.product,
    .woocommerce ul.products.columns-3 li.product,
    .woocommerce-page ul.products.columns-3 li.product,
    .woocommerce ul.products.columns-4 li.product,
    .woocommerce-page ul.products.columns-4 li.product {
        width: 100%;
        margin-right: 0;
        clear: none;
    }
    .woocommerce-cart table.shop_table.cart td.actions #coupon_code{width: 100% !important; margin-bottom: 5px;}
    .woocommerce-cart table.shop_table.cart td.actions .coupon .button{width: 100% !important;}
    .woocommerce .checkout_coupon .form-row{width: 100%; padding: 0; margin:5px 0;}
}